* {
  box-sizing: border-box;
}

/*colors :  rgb(124, 109, 246)  lila
            rgb(222, 251, 142)  yellow
            rgb(193, 203, 231)  light lila
            rgb(234, 235, 240)  light grey
*/

body {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  color: #292929;
  background-color: rgb(193, 203, 231);
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: "poppins";
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

main {
  width: 90%;
}

/* --------------------  NAV ---------------------*/

nav {
  background-color: rgb(255 255 255);
  width: 100%;
  display: flex;
  border-radius: 20px 20px 0 0;
  justify-content: space-evenly;
  align-content: center;
  padding: 15px 0 20px 0;
  position: fixed;
  bottom: 0;
  z-index: 100;
  box-shadow: 0 0 30px rgb(124, 109, 246, 20%);
}

nav a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav_button {
  width: 50px;
  height: 30px;
  fill: rgb(193, 203, 231);
}

.nav_home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_home img {
  position: absolute;
  width: 70px;
  bottom: -13px;
}

.nav_home .home {
  fill: rgb(222, 251, 142);
}

/* --------------------  HEADER ---------------------*/

header {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  /* color: rgb(124, 109, 246); */
  margin-bottom: 20px;
  position: relative;
}

header h1 {
  font-weight: 500;
  z-index: 50;
}

header svg {
  fill: rgb(222, 251, 142);
  position: absolute;
  bottom: 3px;
  transform: rotate(4deg);
}

/* --------------------  QUESTION BLOCK ---------------------*/

.question_block {
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 60px;
}

.question {
  margin: 0;
  font-weight: 400;
  font-size: 1.4em;
}

.categories {
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 0;
  font-size: 0.8em;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.category {
  background-color: rgb(234, 235, 240);
  padding: 5px 10px;
  border-radius: 7px;
}

.category::before {
  content: "#";
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

button[type="show"] {
  border: none;
  background-color: rgb(222, 251, 142);
  padding: 12px 24px;
  width: 100%;
  border-radius: 50px;
}

.bookmark {
  display: flex;
}

.question_block svg {
  stroke: rgb(124, 109, 246);
  stroke-width: 25;
  stroke-miterlimit: 10;
  width: 30px;
  margin: 0;
  padding: 0;
  fill: rgb(124, 109, 246);
}
