nav {
  background-color: rgb(177, 188, 220);
  width: 100%;
  display: flex;
  border-radius: 20px 20px 0 0;
  justify-content: space-evenly;
  align-content: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  z-index: 100;
  /* box-shadow: 0 0 30px rgb(124, 109, 246, 40%); */
}

nav a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav_button {
  width: 50px;
  height: 30px;
  fill: white;
}

.nav_home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav_home img {
  position: absolute;
  width: 70px;
  bottom: -13px;
}

.home {
  fill: var(--secondary-color);
}

.underline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underline::after {
  content: "";
  background-image: url(../../images/line.svg);
  background-size: 70px 18px;
  width: 70px;
  height: 18px;
}
