.question_block {
  background-color: var(--white);
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
}

.question {
  margin: 0;
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 16px;
}

.categories {
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 0;
  font-size: 0.8em;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
}

.category {
  background-color: var(--light-grey);
  padding: 5px 10px;
  border-radius: 7px;
}

.category::before {
  content: "#";
}

.answer {
  font-size: 0.9em;
  margin: 0;
  margin-bottom: 20px;
  color: var(--black);
  opacity: 0.6;
  max-height: 300px;
  transition: 1s;
  overflow-y: hidden;
}

.hiddenAnswer {
  max-height: 0px;
  margin-bottom: 0;
}

.buttons {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.show-content {
  border: none;
  background-color: var(--secondary-color);
  padding: 12px 24px;
  width: 100%;
  border-radius: 50px;
  color: var(--black);
}

.question_block svg {
  stroke: var(--primary-color);
  stroke-width: 25;
  stroke-miterlimit: 10;
  width: 30px;
  margin: 0;
  padding: 0;
  fill: white;
}
